In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
#       print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

From https://www.kaggle.com/aerdem4/rapids-svm-on-trends-neuroimaging/output

In [2]:
svr = pd.read_csv('/kaggle/input/rapids-svm-on-trends-neuroimaging/submission.csv')

svr

                       Id  Predicted
0               10003_age  52.572525
1      10003_domain1_var1  50.364715
2      10003_domain1_var2  61.507707
3      10003_domain2_var1  48.357282
4      10003_domain2_var2  57.971958
...                   ...        ...
29380           21753_age  45.964873
29381  21753_domain1_var1  45.720095
29382  21753_domain1_var2  61.563671
29383  21753_domain2_var1  44.707154
29384  21753_domain2_var2  55.304567

[29385 rows x 2 columns]

In [3]:
nn = pd.read_csv('/kaggle/input/trends-tabular-nn-0-159/submission_10kfold_blended.csv')

nn

                       Id  Predicted
0               10003_age  61.421944
1      10003_domain1_var1  54.664624
2      10003_domain1_var2  60.094218
3      10003_domain2_var1  51.826934
4      10003_domain2_var2  54.615314
...                   ...        ...
29380           21753_age  42.638480
29381  21753_domain1_var1  48.808147
29382  21753_domain1_var2  61.335305
29383  21753_domain2_var1  47.648646
29384  21753_domain2_var2  53.843058

[29385 rows x 2 columns]

In [4]:
submission = nn.append(svr).groupby('Id').mean().reset_index()

submission

                       Id  Predicted
0               10003_age  56.997234
1      10003_domain1_var1  52.514670
2      10003_domain1_var2  60.800963
3      10003_domain2_var1  50.092108
4      10003_domain2_var2  56.293636
...                   ...        ...
29380           21753_age  44.301676
29381  21753_domain1_var1  47.264121
29382  21753_domain1_var2  61.449488
29383  21753_domain2_var1  46.177900
29384  21753_domain2_var2  54.573812

[29385 rows x 2 columns]

In [5]:
submission.to_csv("submission_svr_nn.csv", index=False)